{% extends '@vendor/hiraeth/hyfryd/resources/pages/@index.html' %}

{% block head %}
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.x.x/dist/htmx.min.js" crossorigin></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" crossorigin></script>

    <link rel="stylesheet" href="/assets/app.css" />

    <style>
        {% include '@vendor/tempest/highlight/src/Themes/Css/solarized-light.css' %}
    </style>

    <style media="(prefers-color-scheme: dark)">
        {% include '@vendor/tempest/highlight/src/Themes/Css/slack-dark.css' %}
    </style>
{% endblock %}
